header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo-container {
    background-image: url('../images/logo.png'); /* Using the specified logo image */
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    height: 100%;
    flex-grow: 1;
}